.agent-wrapper {
  height: 90%;
  width: 300px;
  background: url('/images/valorant-ressources/agents/Phoenix/phoenix.png'), no-repeat linear-gradient(#1F2326);
  background-size: cover;
  background-position: 40% 50%;
  background-color: #1F2326;
  margin-left: 6rem;
}
