.cards-wrapper {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.agent-wrapper {
  height: 90%;
  width: 300px;
  background: url('/images/valorant-ressources/agents/Phoenix/phoenix.png'), no-repeat linear-gradient(#1F2326);
  background-size: cover;
  background-position: 40% 50%;
  background-color: #1F2326;
  margin-left: 6rem;
}

.cards-wrapper > div {
  width: 100%;
}

.cards-wrapper figure {
  opacity: 1 !important;
}

.coverflow__container__1P-xE {
  background: rgba(0, 0, 0, 0);
}

.coverflow__stage__14oqC {
  perspective: 1000px;
}

.coverflow__figure__3bk_C {
  box-shadow: none;
  -webkit-box-reflect: unset;
  height: 100%;
}


.coverflow__text__39hqd {
  position: unset;
  bottom: unset;
  left: unset;
  right: unset;
  text-align: unset;
  font-size: unset;
  color:unset;
  padding: unset;
  overflow: unset;
  background: unset;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v {
  position: absolute;
}
