 .main-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}

.background-img {
  position: fixed;
  width: 100%;
  top: -20px;
}
