.background-image {
  width: 100%;
  background: url("/images/background.png") no-repeat center center;
  opacity: 0.08;
  background-size: cover;
  z-index: -2;
  height: 100%;
}

.background-color {
  width: 100%;
  background-color: #F74756;
  opacity: 1;
  position: fixed;
  z-index: -2;
  height: 100%;
}
