.nav-container {
  background-color: #2C2C2C;
  color: #FFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  &-list {
    display: flex;
    justify-content: space-evenly;
    height: 6rem;
    align-items: center;
    font-size: 1.1em;
    &-item {
      margin: 0 1rem;
    }
  }
  &-title {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    &::after {
      display: block;
      content: "";
      width: 2px;
      height: 30px;
      background-color: #FFF;
      color: #FFF;
      margin-left: 2rem;
      
    }
  }
}

.connexion {
  font-size: 1.2em;
  margin-right: 2rem;
}

.navbar-list-item-links {
  display: inline-block;
  transition: all .2s ease-in-out;
}
.navbar-list-item-links:hover {
  transform: scale(1.1);
}


/* Effect 1: Brackets */
.navbar-list-item-links::before,
.navbar-list-item-links::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar-list-item-links::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
  transform: translateX(20px);
  color: #F74756;
}

.navbar-list-item-links::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
  transform: translateX(-20px);
  color: #F74756;
}

.navbar-list-item-links:hover::before,
.navbar-list-item-links:hover::after,
.navbar-list-item-links:focus::before,
.navbar-list-item-links:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

