.agent-spell {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: #1F2326;
  bottom: -250px;
  left: 18px;
  border: solid 1.4px #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}
